<div class="row">
  <div class="col-12">
    <app-panel title="Tree View" panelClass="with-scroll">
      <ul class="tree-view">
        <li>
          <span class="tree-node" (click)="toggleNode('root1')">
            <i class="fa" [class.fa-folder-open]="expandedNodes['root1']" [class.fa-folder]="!expandedNodes['root1']"></i>
            Root Node 1
          </span>
          @if (expandedNodes["root1"]) {
            <ul>
              <li><i class="fa fa-file-o"></i> Child Node 1.1</li>
              <li>
                <span class="tree-node" (click)="toggleNode('child12')">
                  <i class="fa" [class.fa-folder-open]="expandedNodes['child12']" [class.fa-folder]="!expandedNodes['child12']"></i>
                  Child Node 1.2
                </span>
                @if (expandedNodes["child12"]) {
                  <ul>
                    <li><i class="fa fa-file-o"></i> Grandchild 1.2.1</li>
                    <li><i class="fa fa-file-o"></i> Grandchild 1.2.2</li>
                  </ul>
                }
              </li>
              <li><i class="fa fa-file-o"></i> Child Node 1.3</li>
            </ul>
          }
        </li>
        <li>
          <span class="tree-node" (click)="toggleNode('root2')">
            <i class="fa" [class.fa-folder-open]="expandedNodes['root2']" [class.fa-folder]="!expandedNodes['root2']"></i>
            Root Node 2
          </span>
          @if (expandedNodes["root2"]) {
            <ul>
              <li><i class="fa fa-file-o"></i> Child Node 2.1</li>
              <li><i class="fa fa-file-o"></i> Child Node 2.2</li>
            </ul>
          }
        </li>
      </ul>
    </app-panel>
  </div>
</div>
