<div class="row">
  <div class="col-12">
    <app-panel title="Smart Table" panelClass="with-scroll">
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText">
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th (click)="sortBy('name')">Name <i class="fa fa-sort"></i></th>
            <th (click)="sortBy('email')">Email <i class="fa fa-sort"></i></th>
            <th (click)="sortBy('age')">Age <i class="fa fa-sort"></i></th>
            <th>City</th>
          </tr>
        </thead>
        <tbody>
          @for (row of filteredData; track row.name) {
            <tr>
              <td>{{ row.name }}</td>
              <td>{{ row.email }}</td>
              <td>{{ row.age }}</td>
              <td>{{ row.city }}</td>
            </tr>
          }
        </tbody>
      </table>
    </app-panel>
  </div>
</div>
