<div class="widgets">
  <div class="row">
    <div class="col-md-6">
      <ba-panel title="Standard Fields" baPanelClass="with-scroll">
        <app-standard-fields />
      </ba-panel>
      <ba-panel title="Tags Input" baPanelClass="with-scroll">
        <app-tags-input-panel />
      </ba-panel>
      <ba-panel title="Input Groups" baPanelClass="with-scroll">
        <app-input-groups />
      </ba-panel>
      <ba-panel title="Checkboxes & Radios" baPanelClass="with-scroll">
        <app-checkboxes-radios />
      </ba-panel>
      <ba-panel title="On/Off Switches" baPanelClass="with-scroll">
        <app-switches />
      </ba-panel>
      <ba-panel title="Old On/Off Switches (Deprecated)" baPanelClass="with-scroll">
        <app-old-switches />
      </ba-panel>
      <ba-panel title="Datepicker" baPanelClass="with-scroll">
        <app-datepickers />
      </ba-panel>
    </div>
    <div class="col-md-6">
      <ba-panel title="Validation States" baPanelClass="with-scroll">
        <app-validation-states />
      </ba-panel>
      <ba-panel title="Selects" baPanelClass="with-scroll">
        <app-selects />
      </ba-panel>
      <ba-panel title="Old selects(deprecated)" baPanelClass="with-scroll">
        <app-old-selects />
      </ba-panel>
    </div>
  </div>
</div>
