<div class="widgets">
  <div class="row">
    <div class="col-lg-4 col-md-6"><div baPanel title="Bar Chart" baPanelClass="with-scroll"><am-bar-chart /></div></div>
    <div class="col-lg-4 col-md-6"><div baPanel title="Area Chart" baPanelClass="with-scroll"><am-area-chart /></div></div>
    <div class="col-lg-4 col-md-12"><div baPanel title="Line Chart" baPanelClass="with-scroll"><am-line-chart /></div></div>
  </div>
  <div class="row">
    <div class="col-md-6"><div baPanel title="Pie Chart" baPanelClass="with-scroll"><am-pie-chart /></div></div>
    <div class="col-md-6"><div baPanel title="Funnel Chart" baPanelClass="with-scroll"><am-funnel-chart /></div></div>
  </div>
  <div class="row"><div class="col-md-12"><div baPanel title="Combined bullet/column and line graphs with multiple value axes" baPanelClass="with-scroll"><am-combined-chart /></div></div></div>
</div>
