# Dependencies
/node_modules
/bower_components

# Build output
/dist
/build
/.tmp
/.angular

# IDE
.idea/
*.iml
*.ipr
*.iws
.idea_modules/
*.swp
*.swo
.vscode/

# OS
.DS_Store
Thumbs.db

# Angular
/out-tsc
/src/release
/release

# Misc
*.log
npm-debug.log*
