<div class="popular-app-img-container">
  <div class="popular-app-img">
    <img [src]="logo | appImage" alt="Super App"/>
    <span class="logo-text">Super&nbsp;App</span>
  </div>
</div>
<div class="popular-app-cost row">
  <div class="col-9">
    Most Popular App
  </div>
  <div class="col-3 text-end">
    175$
  </div>
</div>
<div class="popular-app-info row">
  <div class="col-4 text-start">
    <div class="info-label">Total Visits</div>
    <div>47,512</div>
  </div>
  <div class="col-4 text-center">
    <div class="info-label">New Visits</div>
    <div>9,217</div>
  </div>
  <div class="col-4 text-end">
    <div class="info-label">Sales</div>
    <div>2,928</div>
  </div>
</div>
