<div class="row">
  <div class="col-lg-6">
    <app-ba-panel title="Line Chart">
      <canvas #lineChart></canvas>
    </app-ba-panel>
  </div>
  <div class="col-lg-6">
    <app-ba-panel title="Bar Chart">
      <canvas #barChart></canvas>
    </app-ba-panel>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <app-ba-panel title="Radar Chart">
      <canvas #radarChart></canvas>
    </app-ba-panel>
  </div>
  <div class="col-lg-6">
    <app-ba-panel title="Pie Chart">
      <canvas #pieChart></canvas>
    </app-ba-panel>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <app-ba-panel title="Polar Area Chart">
      <canvas #polarChart></canvas>
    </app-ba-panel>
  </div>
  <div class="col-lg-6">
    <app-ba-panel title="Doughnut Chart">
      <canvas #doughnutChart></canvas>
    </app-ba-panel>
  </div>
</div>
