<div class="widgets" data-testid="amcharts-page">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <app-ba-panel panelTitle="Bar Chart" panelClass="with-scroll">
        <div #barChartDiv class="admin-chart" data-testid="bar-chart"></div>
      </app-ba-panel>
    </div>
    <div class="col-lg-4 col-md-6">
      <app-ba-panel panelTitle="Area Chart" panelClass="with-scroll">
        <div #areaChartDiv class="admin-chart" data-testid="area-chart"></div>
      </app-ba-panel>
    </div>
    <div class="col-lg-4 col-md-12">
      <app-ba-panel panelTitle="Line Chart" panelClass="with-scroll">
        <div #lineChartDiv class="admin-chart" data-testid="line-chart"></div>
      </app-ba-panel>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <app-ba-panel panelTitle="Pie Chart" panelClass="with-scroll">
        <div #pieChartDiv class="admin-chart" data-testid="pie-chart"></div>
      </app-ba-panel>
    </div>
    <div class="col-md-6">
      <app-ba-panel panelTitle="Funnel Chart" panelClass="with-scroll">
        <div #funnelChartDiv class="admin-chart" data-testid="funnel-chart"></div>
      </app-ba-panel>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-ba-panel panelTitle="Combined bullet/column and line graphs with multiple value axes" panelClass="with-scroll">
        <div #combinedChartDiv class="admin-chart combined-chart" data-testid="combined-chart"></div>
      </app-ba-panel>
    </div>
  </div>
</div>
