<div class="row">
  <div class="col-12">
    <app-panel title="Grid System" panelClass="with-scroll">
      <div class="row grid-demo">
        <div class="col-md-1"><div class="grid-block">.col-md-1</div></div>
        <div class="col-md-1"><div class="grid-block">.col-md-1</div></div>
        <div class="col-md-1"><div class="grid-block">.col-md-1</div></div>
        <div class="col-md-1"><div class="grid-block">.col-md-1</div></div>
        <div class="col-md-1"><div class="grid-block">.col-md-1</div></div>
        <div class="col-md-1"><div class="grid-block">.col-md-1</div></div>
        <div class="col-md-1"><div class="grid-block">.col-md-1</div></div>
        <div class="col-md-1"><div class="grid-block">.col-md-1</div></div>
        <div class="col-md-1"><div class="grid-block">.col-md-1</div></div>
        <div class="col-md-1"><div class="grid-block">.col-md-1</div></div>
        <div class="col-md-1"><div class="grid-block">.col-md-1</div></div>
        <div class="col-md-1"><div class="grid-block">.col-md-1</div></div>
      </div>
      <div class="row grid-demo">
        <div class="col-md-4"><div class="grid-block">.col-md-4</div></div>
        <div class="col-md-4"><div class="grid-block">.col-md-4</div></div>
        <div class="col-md-4"><div class="grid-block">.col-md-4</div></div>
      </div>
      <div class="row grid-demo">
        <div class="col-md-6"><div class="grid-block">.col-md-6</div></div>
        <div class="col-md-6"><div class="grid-block">.col-md-6</div></div>
      </div>
    </app-panel>
  </div>
</div>
