<section>
  <div class="row"><div class="col-md-12"><div baPanel title="Line Chart" baPanelClass="with-scroll"><div style="height: 250px"><canvas baseChart [type]="lineType" [data]="lineChartData" [options]="cartesianOptions"></canvas></div></div></div></div>
  <div class="row"><div class="col-md-4"><div baPanel title="Donut" baPanelClass="with-scroll"><div style="height: 250px"><canvas baseChart [type]="donutType" [data]="donutChartData" [options]="donutOptions"></canvas></div></div></div>
    <div class="col-md-8"><div baPanel title="Bar Chart" baPanelClass="with-scroll"><div style="height: 250px"><canvas baseChart type="bar" [data]="barChartData" [options]="cartesianOptions"></canvas></div></div></div></div>
  <div class="row"><div class="col-md-12"><div baPanel title="Area Chart" baPanelClass="with-scroll"><div style="height: 250px"><canvas baseChart [type]="lineType" [data]="areaChartData" [options]="cartesianOptions"></canvas></div></div></div></div>
</section>
