<div class="row">
  <div class="col-12">
    <app-panel title="Range Slider" panelClass="with-scroll">
      <div class="mb-4">
        <label for="range1" class="form-label">Basic Range: <span id="rangeValue">50</span></label>
        <input type="range" class="form-range" id="range1" min="0" max="100" value="50">
      </div>
      <div class="mb-4">
        <label for="range2" class="form-label">Stepped Range (step 10)</label>
        <input type="range" class="form-range" id="range2" min="0" max="100" step="10">
      </div>
    </app-panel>
  </div>
</div>
