<div class="row">
  <div class="col-lg-4">
    <app-panel title="Default Panel" panelClass="">
      <p>Panel content. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </app-panel>
  </div>
  <div class="col-lg-4">
    <app-panel title="Primary Panel" panelClass="panel-primary">
      <p>Panel content with primary styling.</p>
    </app-panel>
  </div>
  <div class="col-lg-4">
    <app-panel title="Success Panel" panelClass="panel-success">
      <p>Panel content with success styling.</p>
    </app-panel>
  </div>
</div>
