<div class="row">
  <div class="col-lg-6">
    <app-ba-panel title="Basic Table">
      <table class="table">
        <thead>
          <tr><th>#</th><th>First Name</th><th>Last Name</th><th>Username</th></tr>
        </thead>
        <tbody>
          @for (row of tableData; track row.id) {
            <tr><td>{{ row.id }}</td><td>{{ row.firstName }}</td><td>{{ row.lastName }}</td><td>{{ row.username }}</td></tr>
          }
        </tbody>
      </table>
    </app-ba-panel>
  </div>
  <div class="col-lg-6">
    <app-ba-panel title="Striped Rows">
      <table class="table table-striped">
        <thead>
          <tr><th>#</th><th>First Name</th><th>Last Name</th><th>Username</th></tr>
        </thead>
        <tbody>
          @for (row of tableData; track row.id) {
            <tr><td>{{ row.id }}</td><td>{{ row.firstName }}</td><td>{{ row.lastName }}</td><td>{{ row.username }}</td></tr>
          }
        </tbody>
      </table>
    </app-ba-panel>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <app-ba-panel title="Bordered Table">
      <table class="table table-bordered">
        <thead>
          <tr><th>#</th><th>First Name</th><th>Last Name</th><th>Username</th></tr>
        </thead>
        <tbody>
          @for (row of tableData; track row.id) {
            <tr><td>{{ row.id }}</td><td>{{ row.firstName }}</td><td>{{ row.lastName }}</td><td>{{ row.username }}</td></tr>
          }
        </tbody>
      </table>
    </app-ba-panel>
  </div>
  <div class="col-lg-6">
    <app-ba-panel title="Hover Rows">
      <table class="table table-hover">
        <thead>
          <tr><th>#</th><th>First Name</th><th>Last Name</th><th>Email</th><th>Age</th></tr>
        </thead>
        <tbody>
          @for (row of tableData; track row.id) {
            <tr><td>{{ row.id }}</td><td>{{ row.firstName }}</td><td>{{ row.lastName }}</td><td>{{ row.email }}</td><td>{{ row.age }}</td></tr>
          }
        </tbody>
      </table>
    </app-ba-panel>
  </div>
</div>
