.content-top {
  padding-bottom: 12px;

  h1 {
    font-weight: $font-light;
    font-size: 24px;
    margin: 0 0 0 0;
    color: $default-text;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
}
