<div class="widgets">
  <div class="row">
    <div class="col-md-6">
      <div baPanel title="Basic" baPanelClass="with-scroll">
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"><span class="visually-hidden">40% Complete (success)</span></div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"><span class="visually-hidden">20% Complete</span></div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"><span class="visually-hidden">60% Complete (warning)</span></div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"><span class="visually-hidden">80% Complete (danger)</span></div>
        </div>
      </div>
      <div baPanel title="Striped" baPanelClass="with-scroll">
        <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"><span class="visually-hidden">40% Complete (success)</span></div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"><span class="visually-hidden">20% Complete</span></div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"><span class="visually-hidden">60% Complete (warning)</span></div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"><span class="visually-hidden">80% Complete (danger)</span></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div baPanel title="With label" baPanelClass="with-scroll">
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">40% Complete (success)</div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">20% Complete</div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">60% Complete (warning)</div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">80% Complete (danger)</div>
        </div>
      </div>
      <div baPanel title="Animated" baPanelClass="with-scroll">
        <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"><span class="visually-hidden">40% Complete (success)</span></div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-info progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"><span class="visually-hidden">20% Complete</span></div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-warning progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"><span class="visually-hidden">60% Complete (warning)</span></div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-danger progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"><span class="visually-hidden">80% Complete (danger)</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" baPanel title="Stacked" baPanelClass="with-scroll">
      <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: 35%"><span class="visually-hidden">35% Complete (success)</span></div>
        <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%"><span class="visually-hidden">20% Complete (warning)</span></div>
        <div class="progress-bar progress-bar-danger" style="width: 10%"><span class="visually-hidden">10% Complete (danger)</span></div>
        <div class="progress-bar progress-bar-info progress-bar-striped progress-bar-animated" style="width: 20%"><span class="visually-hidden">20% Complete (warning)</span></div>
      </div>
    </div>
  </div>
</div>
