<div class="row">
  <div class="col-lg-6">
    <app-ba-panel title="Buttons">
      <p>
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Default</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-danger">Danger</button>
      </p>
    </app-ba-panel>
  </div>
  <div class="col-lg-6">
    <app-ba-panel title="Button Sizes">
      <p>
        <button type="button" class="btn btn-primary btn-lg">Large button</button>
        <button type="button" class="btn btn-primary">Default button</button>
        <button type="button" class="btn btn-primary btn-sm">Small button</button>
      </p>
    </app-ba-panel>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <app-ba-panel title="Button Groups">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary">Left</button>
        <button type="button" class="btn btn-primary">Middle</button>
        <button type="button" class="btn btn-primary">Right</button>
      </div>
    </app-ba-panel>
  </div>
  <div class="col-lg-6">
    <app-ba-panel title="Dropdowns">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
          Dropdown
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="javascript:void(0)">Action</a></li>
          <li><a class="dropdown-item" href="javascript:void(0)">Another action</a></li>
          <li><a class="dropdown-item" href="javascript:void(0)">Something else</a></li>
        </ul>
      </div>
    </app-ba-panel>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <app-ba-panel title="Icon Buttons">
      <p>
        <button type="button" class="btn btn-primary"><i class="fa fa-home"></i> Home</button>
        <button type="button" class="btn btn-success"><i class="fa fa-check"></i> Check</button>
        <button type="button" class="btn btn-info"><i class="fa fa-search"></i> Search</button>
        <button type="button" class="btn btn-warning"><i class="fa fa-pencil"></i> Edit</button>
        <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
      </p>
    </app-ba-panel>
  </div>
  <div class="col-lg-6">
    <app-ba-panel title="Large Buttons">
      <p>
        <button type="button" class="btn btn-primary btn-lg btn-block">Block level primary</button>
        <button type="button" class="btn btn-success btn-lg btn-block">Block level success</button>
      </p>
    </app-ba-panel>
  </div>
</div>
