<div class="widgets">
  <div class="row">
    <div class="col-md-3">
      <app-panel title="Flat Buttons" panelClass="with-scroll button-panel">
        <div class="button-wrapper"><button type="button" class="btn btn-secondary">Default</button></div>
        <div class="button-wrapper"><button type="button" class="btn btn-primary">Primary</button></div>
        <div class="button-wrapper"><button type="button" class="btn btn-success">Success</button></div>
        <div class="button-wrapper"><button type="button" class="btn btn-info">Info</button></div>
        <div class="button-wrapper"><button type="button" class="btn btn-warning">Warning</button></div>
        <div class="button-wrapper"><button type="button" class="btn btn-danger">Danger</button></div>
      </app-panel>
    </div>
    <div class="col-md-3">
      <app-panel title="Raised Buttons" panelClass="with-scroll button-panel">
        <div class="button-wrapper"><button type="button" class="btn btn-secondary btn-raised">Default</button></div>
        <div class="button-wrapper"><button type="button" class="btn btn-primary btn-raised">Primary</button></div>
        <div class="button-wrapper"><button type="button" class="btn btn-success btn-raised">Success</button></div>
        <div class="button-wrapper"><button type="button" class="btn btn-info btn-raised">Info</button></div>
        <div class="button-wrapper"><button type="button" class="btn btn-warning btn-raised">Warning</button></div>
        <div class="button-wrapper"><button type="button" class="btn btn-danger btn-raised">Danger</button></div>
      </app-panel>
    </div>
    <div class="col-md-3">
      <app-panel title="Different sizes" panelClass="with-scroll button-panel">
        <div class="button-wrapper"><button type="button" class="btn btn-secondary btn-sm">Small</button></div>
        <div class="button-wrapper"><button type="button" class="btn btn-primary">Medium</button></div>
        <div class="button-wrapper"><button type="button" class="btn btn-success btn-lg">Large</button></div>
      </app-panel>
    </div>
    <div class="col-md-3">
      <app-panel title="Disabled" panelClass="with-scroll button-panel">
        <div class="button-wrapper"><button type="button" class="btn btn-secondary" disabled>Default</button></div>
        <div class="button-wrapper"><button type="button" class="btn btn-primary" disabled>Primary</button></div>
        <div class="button-wrapper"><button type="button" class="btn btn-success" disabled>Success</button></div>
      </app-panel>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-panel title="Icon Buttons" panelClass="with-scroll">
        <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
        <button type="button" class="btn btn-success"><i class="fa fa-check"></i> Confirm</button>
        <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
      </app-panel>
    </div>
    <div class="col-md-6">
      <app-panel title="Button Groups" panelClass="with-scroll">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary">Left</button>
          <button type="button" class="btn btn-primary">Middle</button>
          <button type="button" class="btn btn-primary">Right</button>
        </div>
      </app-panel>
    </div>
  </div>
</div>
