<div class="row">
  <div class="col-md-4"><div baPanel title="Pie" baPanelClass="with-scroll"><div class="chartjs-canvas-holder-first-row"><chart-js-1d chartType="pie" canvasId="pie" /></div></div></div>
  <div class="col-md-4"><div baPanel title="Doughnut" baPanelClass="with-scroll"><div class="chartjs-canvas-holder-first-row"><chart-js-1d chartType="doughnut" canvasId="doughnut" /></div></div></div>
  <div class="col-md-4"><div baPanel title="Polar" baPanelClass="with-scroll"><div class="chartjs-canvas-holder-first-row"><chart-js-1d chartType="polarArea" canvasId="polar-area" /></div></div></div>
</div>
<div class="row">
  <div class="col-md-6"><div baPanel title="Animated Radar" baPanelClass="col-eq-height"><div class="chartjs-canvas-holder-second-row"><chart-js-wave chartType="radar" canvasId="waveLine" /></div></div></div>
  <div class="col-md-6"><div baPanel title="Animated Bars" baPanelClass="col-eq-height"><div class="chartjs-canvas-holder-second-row"><chart-js-wave chartType="bar" canvasId="waveBars" /></div></div></div>
</div>
<div class="row">
  <div class="col-lg-4 col-md-6"><div baPanel title="Radar" baPanelClass="with-scroll"><div class="chartjs-canvas-holder-third-row"><chart-js-2d chartType="radar" canvasId="radar" /></div></div></div>
  <div class="col-lg-4 col-md-6"><div baPanel title="Line" baPanelClass="with-scroll"><div class="chartjs-canvas-holder-third-row"><chart-js-2d chartType="line" canvasId="line" /></div></div></div>
  <div class="col-lg-4 col-md-12"><div baPanel title="Bars" baPanelClass="with-scroll"><div class="chartjs-canvas-holder-third-row"><chart-js-2d chartType="bar" canvasId="bar" /></div></div></div>
</div>
