<div class="row">
  <div class="col-lg-6">
    <app-panel title="Progress Bars" panelClass="with-scroll">
      <div class="progress mb-3"><div class="progress-bar bg-success" style="width: 25%">25%</div></div>
      <div class="progress mb-3"><div class="progress-bar bg-info" style="width: 50%">50%</div></div>
      <div class="progress mb-3"><div class="progress-bar bg-warning" style="width: 75%">75%</div></div>
      <div class="progress mb-3"><div class="progress-bar bg-danger" style="width: 100%">100%</div></div>
    </app-panel>
  </div>
  <div class="col-lg-6">
    <app-panel title="Striped Progress Bars" panelClass="with-scroll">
      <div class="progress mb-3"><div class="progress-bar progress-bar-striped bg-success" style="width: 25%">25%</div></div>
      <div class="progress mb-3"><div class="progress-bar progress-bar-striped bg-info" style="width: 50%">50%</div></div>
      <div class="progress mb-3"><div class="progress-bar progress-bar-striped bg-warning" style="width: 75%">75%</div></div>
      <div class="progress mb-3"><div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width: 100%">100%</div></div>
    </app-panel>
  </div>
</div>
