<div class="popular-app-img-container">
  <div class="popular-app-img">
    <div class="app-logo">
      <span class="logo-icon">&#128187;</span>
    </div>
    <span class="logo-text">{{ appName }}</span>
  </div>
</div>
<div class="popular-app-cost row">
  <div class="col-left">
    Most Popular App
  </div>
  <div class="col-right">
    {{ appCost }}
  </div>
</div>
<div class="popular-app-info row">
  <div class="col-info">
    <div class="info-label">Total Visits</div>
    <div class="info-value">{{ totalVisits }}</div>
  </div>
  <div class="col-info center">
    <div class="info-label">New Visits</div>
    <div class="info-value">{{ newVisits }}</div>
  </div>
  <div class="col-info right">
    <div class="info-label">Sales</div>
    <div class="info-value">{{ sales }}</div>
  </div>
</div>
