<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <ba-panel title="Inline Form" baPanelClass="with-scroll">
        <app-inline-form />
      </ba-panel>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ba-panel title="Basic Form" baPanelClass="with-scroll">
        <app-basic-form />
      </ba-panel>
      <ba-panel title="Horizontal Form" baPanelClass="with-scroll">
        <app-horizontal-form />
      </ba-panel>
    </div>
    <div class="col-md-6">
      <ba-panel title="Form Without Labels" baPanelClass="with-scroll">
        <app-form-without-labels />
      </ba-panel>
      <ba-panel title="Block Form" baPanelClass="with-scroll">
        <app-block-form />
      </ba-panel>
    </div>
  </div>
</div>
