<section class="chartist" data-testid="chartist-page">
  <div class="row">
    <div class="col-md-6">
      <app-ba-panel panelTitle="Lines" panelClass="with-scroll">
        <h5>Simple line chart</h5>
        <div #lineChart class="ct-chart" data-testid="line-chart"></div>
        <h5>Line chart with area</h5>
        <div #areaChart class="ct-chart" data-testid="area-chart"></div>
        <h5>Bi-polar line chart with area only</h5>
        <div #biChart class="ct-chart" data-testid="bi-chart"></div>
      </app-ba-panel>
    </div>

    <div class="col-md-6">
      <app-ba-panel panelTitle="Bars" panelClass="with-scroll">
        <h5>Simple bar chart</h5>
        <div #simpleBar class="ct-chart" data-testid="simple-bar"></div>
        <h5>Multi-line labels bar chart</h5>
        <div #multiBar class="ct-chart" data-testid="multi-bar"></div>
        <h5>Stacked bar chart</h5>
        <div #stackedBar class="ct-chart stacked-bar" data-testid="stacked-bar"></div>
      </app-ba-panel>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-ba-panel panelTitle="Pies & Donuts" panelClass="with-scroll">
        <div class="row">
          <div class="col-md-12 col-lg-4">
            <h5>Simple Pie</h5>
            <div #simplePie class="ct-chart" data-testid="simple-pie"></div>
          </div>
          <div class="col-md-12 col-lg-4">
            <h5>Pie with labels</h5>
            <div #labelPie class="ct-chart" data-testid="label-pie"></div>
          </div>
          <div class="col-md-12 col-lg-4">
            <h5>Donut</h5>
            <div #donut class="ct-chart" data-testid="donut"></div>
          </div>
        </div>
      </app-ba-panel>
    </div>
  </div>
</section>
