<div class="row">
  <div class="col-lg-6">
    <app-panel title="Tabs" panelClass="with-scroll">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#tab1">Tab 1</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab2">Tab 2</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab3">Tab 3</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="tab1"><p class="mt-3">Content for Tab 1. Lorem ipsum dolor sit amet.</p></div>
        <div class="tab-pane fade" id="tab2"><p class="mt-3">Content for Tab 2. Consectetur adipiscing elit.</p></div>
        <div class="tab-pane fade" id="tab3"><p class="mt-3">Content for Tab 3. Sed do eiusmod tempor.</p></div>
      </div>
    </app-panel>
  </div>
  <div class="col-lg-6">
    <app-panel title="Pills" panelClass="with-scroll">
      <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link active" data-bs-toggle="pill" href="#pill1">Pill 1</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="pill" href="#pill2">Pill 2</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="pill" href="#pill3">Pill 3</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="pill1"><p class="mt-3">Content for Pill 1.</p></div>
        <div class="tab-pane fade" id="pill2"><p class="mt-3">Content for Pill 2.</p></div>
        <div class="tab-pane fade" id="pill3"><p class="mt-3">Content for Pill 3.</p></div>
      </div>
    </app-panel>
  </div>
</div>
