<div class="row">
  <div class="col-lg-6">
    <app-panel title="Chart.js - Doughnut" panelClass="with-scroll">
      <canvas id="chartjs-doughnut"></canvas>
    </app-panel>
  </div>
  <div class="col-lg-6">
    <app-panel title="Chart.js - Bar" panelClass="with-scroll">
      <canvas id="chartjs-bar"></canvas>
    </app-panel>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <app-panel title="Chart.js - Radar" panelClass="with-scroll">
      <canvas id="chartjs-radar"></canvas>
    </app-panel>
  </div>
  <div class="col-lg-6">
    <app-panel title="Chart.js - Pie" panelClass="with-scroll">
      <canvas id="chartjs-pie"></canvas>
    </app-panel>
  </div>
</div>
