<div class="row">
  <div class="col-12">
    <app-panel title="Basic Table" panelClass="with-scroll">
      <table class="table table-striped">
        <thead><tr><th>#</th><th>First Name</th><th>Last Name</th><th>Username</th><th>Email</th><th>Age</th></tr></thead>
        <tbody>
          <tr><td>1</td><td>Mark</td><td>Otto</td><td>&#64;mdo</td><td>mark&#64;email.com</td><td>28</td></tr>
          <tr><td>2</td><td>Jacob</td><td>Thornton</td><td>&#64;fat</td><td>jacob&#64;email.com</td><td>32</td></tr>
          <tr><td>3</td><td>Larry</td><td>Bird</td><td>&#64;twitter</td><td>larry&#64;email.com</td><td>45</td></tr>
          <tr><td>4</td><td>John</td><td>Smith</td><td>&#64;jsmith</td><td>john&#64;email.com</td><td>25</td></tr>
          <tr><td>5</td><td>Peter</td><td>Parker</td><td>&#64;spider</td><td>peter&#64;email.com</td><td>30</td></tr>
        </tbody>
      </table>
    </app-panel>
  </div>
  <div class="col-12">
    <app-panel title="Bordered Table" panelClass="with-scroll">
      <table class="table table-bordered">
        <thead><tr><th>#</th><th>First Name</th><th>Last Name</th><th>Username</th></tr></thead>
        <tbody>
          <tr><td>1</td><td>Mark</td><td>Otto</td><td>&#64;mdo</td></tr>
          <tr><td>2</td><td>Jacob</td><td>Thornton</td><td>&#64;fat</td></tr>
          <tr><td>3</td><td>Larry</td><td>Bird</td><td>&#64;twitter</td></tr>
        </tbody>
      </table>
    </app-panel>
  </div>
</div>
