<section class="morris-charts" data-testid="morris-charts-page">
  <div class="row">
    <div class="col-md-12">
      <app-ba-panel panelTitle="Line Chart" panelClass="with-scroll">
        <div #lineChart class="morris-chart" data-testid="morris-line-chart"></div>
      </app-ba-panel>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <app-ba-panel panelTitle="Donut" panelClass="with-scroll">
        <div #donutChart class="morris-chart morris-donut" data-testid="morris-donut-chart"></div>
      </app-ba-panel>
    </div>
    <div class="col-md-8">
      <app-ba-panel panelTitle="Bar Chart" panelClass="with-scroll">
        <div #barChart class="morris-chart" data-testid="morris-bar-chart"></div>
      </app-ba-panel>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-ba-panel panelTitle="Area Chart" panelClass="with-scroll">
        <div #areaChart class="morris-chart" data-testid="morris-area-chart"></div>
      </app-ba-panel>
    </div>
  </div>
</section>
