<div class="widgets">
  <div class="row"><div class="col-md-12"><ba-panel title="Editable Rows" baPanelClass="with-scroll"><app-editable-row-table /></ba-panel></div></div>
  <div class="row"><div class="col-md-12"><ba-panel title="Editable Cells" baPanelClass="with-scroll"><app-editable-table /></ba-panel></div></div>
  <div class="row"><div class="col-md-12"><ba-panel title="Smart Table With Filtering, Sorting And Pagination" baPanelClass="with-scroll"><app-smart-table /></ba-panel></div></div>
</div>
