<div class="typography-document-samples row">
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
    <app-panel title="Text Size" panelClass="with-scroll heading-widget">
      <div class="section-block">
        <h1>H1. Heading 1</h1>
        <p>Lorem ipsum dolor sit amet, id mollis iaculis mi nisl pulvinar.</p>
      </div>
      <div class="section-block">
        <h2>H2. Heading 2</h2>
        <p>Lorem ipsum dolor sit amet, id mollis iaculis mi nisl pulvinar.</p>
      </div>
      <div class="section-block">
        <h3>H3. Heading 3</h3>
        <p>Lorem ipsum dolor sit amet, id mollis iaculis mi nisl pulvinar.</p>
      </div>
      <div class="section-block">
        <h4>H4. Heading 4</h4>
        <p>Lorem ipsum dolor sit amet, id mollis iaculis mi nisl pulvinar.</p>
      </div>
      <div class="section-block">
        <h5>H5. Heading 5</h5>
        <p>Lorem ipsum dolor sit amet, id mollis iaculis mi nisl pulvinar.</p>
      </div>
    </app-panel>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
    <app-panel title="Some more text" panelClass="with-scroll more-text-widget">
      <div class="section-block light-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="section-block regular-text">
        <p>Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at.</p>
      </div>
      <div class="section-block upper-text bold-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </app-panel>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
    <app-panel title="Lists" panelClass="with-scroll lists-widget">
      <h5 class="list-header">Unordered list:</h5>
      <ul class="blur">
        <li>Lorem ipsum dolor sit amet</li>
        <li>Clacinia scelerisque pharetra
          <ul><li>Dui rhoncus quisque integer lorem</li></ul>
        </li>
        <li>Nisl lectus nibh habitasse suspendisse ut</li>
      </ul>
      <h5 class="list-header">Ordered Lists:</h5>
      <ol class="blur">
        <li>Eu non nec cursus quis mollis</li>
        <li>Et suspendisse, adipiscing fringilla</li>
        <li>Metus duis eu non eu ridiculus turpis</li>
      </ol>
    </app-panel>
  </div>
</div>
