<div baPanel baPanelClass="profile-page">
  <div class="panel-content">
    <div class="progress-info">Your profile is 70% Complete</div>
    <div class="progress">
      <div class="progress-bar progress-bar-primary progress-bar-striped progress-bar-animated" role="progressbar"
           aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
      </div>
    </div>

    <h3 class="with-line">General Information</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputFirstName" class="col-sm-3 control-label">Picture</label>

          <div class="col-sm-9">
            <div class="userpic">
              <div class="userpic-wrapper">
                <img [src]="picture" (click)="uploadPicture()">
              </div>
              @if (!noPicture) {
                <i class="ion-ios-close-outline" (click)="removePicture()"></i>
              }
              <a href="" class="change-userpic" (click)="uploadPicture(); $event.preventDefault()">Change Profile Picture</a>
              <input #uploadFile type="file" id="uploadFile" class="d-none" ngFileSelect (fileSelect)="getFile($event)">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputFirstName" class="col-sm-3 control-label">First Name</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputFirstName" placeholder="" value="Anastasiya">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputLastName" class="col-sm-3 control-label">Last Name</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputLastName" placeholder="" value="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Department</label>

          <div class="col-sm-9">
            <select class="form-control form-select">
              <option>Web Development</option>
              <option>System Development</option>
              <option>Sales</option>
              <option>Human Resources</option>
            </select>
          </div>
        </div>

        <div class="form-group row clearfix">
          <label for="inputOccupation" class="col-sm-3 control-label">Occupation</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputOccupation" placeholder="" value="Front End Web Developer">
          </div>
        </div>
      </div>
    </div>

    <h3 class="with-line">Change Password</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputPassword" class="col-sm-3 control-label">Password</label>

          <div class="col-sm-9">
            <input type="password" class="form-control" id="inputPassword" placeholder="" value="12345678">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputConfirmPassword" class="col-sm-3 control-label">Confirm Password</label>

          <div class="col-sm-9">
            <input type="password" class="form-control" id="inputConfirmPassword" placeholder="">
          </div>
        </div>
      </div>
    </div>

    <h3 class="with-line">Contact Information</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputEmail3" class="col-sm-3 control-label">Email</label>

          <div class="col-sm-9">
            <input type="email" class="form-control" id="inputEmail3" placeholder="" value="contact@akveo.com">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputPhone" class="col-sm-3 control-label">Phone</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputPhone" placeholder="" value="+1 (23) 456 7890">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Office Location</label>

          <div class="col-sm-9">
            <select class="form-control form-select" title="Standard Select">
              <option disabled selected value="">Standard Select</option>
              <option>San Francisco</option>
              <option>London</option>
              <option>Minsk</option>
              <option>Tokio</option>
            </select>
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputRoom" class="col-sm-3 control-label">Room</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputRoom" placeholder="" value="303">
          </div>
        </div>
      </div>
    </div>

    <h3 class="with-line">Social Profiles</h3>

    <div class="social-profiles row clearfix">
      @for (item of socialProfiles; track item.name) {
        <div class="col-md-3 col-sm-4">
          @if (!item.href) {
            <a class="sn-link" href="" (click)="showModal(item); $event.preventDefault()">
              <i class="socicon {{item.icon}}"></i>
              <span>{{item.name}}</span>
            </a>
          } @else {
            <a class="sn-link connected" [href]="item.href" target="_blank" rel="noopener">
              <i class="socicon {{item.icon}}"></i>
              <span>{{item.name}}</span>
              <em class="ion-ios-close-empty sn-link-close" (mousedown)="unconnect(item); $event.preventDefault(); $event.stopPropagation()"></em>
            </a>
          }
        </div>
      }
    </div>

    <h3 class="with-line">Send Email Notifications</h3>

    <div class="notification row clearfix">
      <div class="col-sm-6">
        <div class="form-group row clearfix">
          <label class="col-8">When I receive a message</label>

          <div class="col-4">
            <div class="form-check form-switch switch-container primary">
              <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="switches[0]">
            </div>
          </div>
        </div>
        <div class="form-group row clearfix">
          <label class="col-8">When Someone sends me an invitation</label>

          <div class="col-4">
            <div class="form-check form-switch switch-container primary">
              <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="switches[1]">
            </div>
          </div>
        </div>
        <div class="form-group row clearfix">
          <label class="col-8">When profile information changes</label>

          <div class="col-4">
            <div class="form-check form-switch switch-container primary">
              <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="switches[2]">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group row clearfix">
          <label class="col-8">When anyone logs into your account from a new device or browser</label>

          <div class="col-4">
            <div class="form-check form-switch switch-container primary">
              <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="switches[3]">
            </div>
          </div>
        </div>
        <div class="form-group row clearfix">
          <label class="col-8">Weekly Reports</label>

          <div class="col-4">
            <div class="form-check form-switch switch-container primary">
              <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="switches[4]">
            </div>
          </div>
        </div>

        <div class="form-group row clearfix">
          <label class="col-8">Daily Reports</label>

          <div class="col-4">
            <div class="form-check form-switch switch-container primary">
              <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="switches[5]">
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary btn-with-icon save-profile"><i class="ion-android-checkmark-circle"></i>Update Profile</button>
  </div>
</div>
