@use '../../../../styles/conf' as *;

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family;
  width: 100%;
  margin-top: 0;
}

h1.color, h2.color, h3.color, h4.color, h5.color, h6.color {
  color: $danger;
}

body a {
  color: $activelink;
  text-decoration: none !important;
  transition: color 0.2s ease;
  &:hover {
    color: $hoverlink;
  }
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

.typography-document-samples {


  p {
    margin: 0;
  }

  .typography-widget {
    height: 100%;

    .panel {
      height: 620px;
    }

    .panel-title{
      text-align: center;
      width: 100%;
    }

    .panel.with-scroll .panel-body{
      height: calc(100% - 45px);
    }

    .panel-content{
      padding: 15px 22px 5px 22px;
    }

  }

}

.heading-widget {

  h1, h2, h3, h4, h5, h6 {
    width: 100%;
    font-weight: $font-light;
    text-align: center;
  }

  p {
    line-height: 16px;
    font-weight: $font-normal;
    text-align: center;
  }
}

.more-text-widget {
  text-align: center;
  font-size: 14px;

  p {
    line-height: 17px;
  }

  .gray {
    color: #767676;
  }

  .black {
    color: #585858;
  }

  .light-text {
    font-weight: $font-light;
  }

  .regular-text {
    font-weight: $font-normal;
  }

  .upper-text {
    text-transform: uppercase;
  }

  .bold-text {
    font-weight: $font-bold;
  }

  .small-text {
    padding: 5px 0 0 0;
    p {
      font-size: 9px;
      font-weight: $font-light;
      line-height: 10px;
    }
  }
}

.color-widget {
  text-align: center;
  font-size: 14px;
  font-weight: $font-normal;
  p {
    line-height: 17px;
  }

  .section-block {
    margin: 14px 0;
  }

  .yellow-text p {
    color: $warning;
  }

  .red-text p {
    color: $danger;
  }

  .links {
    h3 {
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 0;
      &.hovered {
        a {
          color: $hoverlink;
        }
      }
    }
  }

}
