<app-dashboard-pie-chart></app-dashboard-pie-chart>

<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <app-panel title="Acquisition Channels" panelClass="medium-panel traffic-panel">
      <app-traffic-chart></app-traffic-chart>
    </app-panel>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12">
    <app-panel title="Users by Country" panelClass="medium-panel">
      <app-dashboard-map></app-dashboard-map>
    </app-panel>
  </div>
</div>

<div class="row">
  <div class="col-xl-9 col-lg-6 col-md-6 col-sm-12 col-12">
    <div class="row">
      <div class="col-xl-8 col-lg-12 col-md-12 col-sm-7 col-12">
        <app-panel title="Revenue" panelClass="medium-panel">
          <app-dashboard-line-chart></app-dashboard-line-chart>
        </app-panel>
      </div>
      <div class="col-xl-4 col-lg-12 col-md-12 col-sm-5 col-12">
        <app-panel panelClass="popular-app medium-panel">
          <app-popular-app></app-popular-app>
        </app-panel>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
    <app-panel title="Feed" panelClass="large-panel with-scroll feed-panel">
      <app-feed></app-feed>
    </app-panel>
  </div>
</div>

<div class="row shift-up">
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <app-panel title="To Do List" panelClass="xmedium-panel feed-comply-panel with-scroll todo-panel">
      <app-todo></app-todo>
    </app-panel>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-12">
    <app-panel title="Calendar" panelClass="xmedium-panel feed-comply-panel with-scroll calendar-panel">
      <app-dashboard-calendar></app-dashboard-calendar>
    </app-panel>
  </div>
</div>
