<app-pie-charts></app-pie-charts>

<div class="row">
  <div class="col-lg-6 col-md-12">
    <div class="ba-panel">
      <div class="ba-panel-header">Acquisition Channels</div>
      <div class="ba-panel-body">
        <app-traffic-chart></app-traffic-chart>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="ba-panel">
      <div class="ba-panel-header">Users by Country</div>
      <div class="ba-panel-body">
        <app-map-widget></app-map-widget>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-9 col-lg-6 col-md-6 col-12">
    <div class="row">
      <div class="col-xl-8 col-lg-12 col-md-12">
        <div class="ba-panel">
          <div class="ba-panel-header">Revenue</div>
          <div class="ba-panel-body">
            <app-line-chart></app-line-chart>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12 col-md-12">
        <div class="ba-panel popular-app-panel">
          <div class="ba-panel-body">
            <app-popular-app></app-popular-app>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="ba-panel feed-panel">
      <div class="ba-panel-header">Feed</div>
      <div class="ba-panel-body">
        <app-feed></app-feed>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="ba-panel">
      <div class="ba-panel-header">To Do List</div>
      <div class="ba-panel-body">
        <app-todo></app-todo>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-12">
    <div class="ba-panel">
      <div class="ba-panel-header">Calendar</div>
      <div class="ba-panel-body calendar-body">
        <app-calendar-widget></app-calendar-widget>
      </div>
    </div>
  </div>
</div>
